<template name="myAccount">
  <h3>Minha Conta</h3>

  <div class="col-md-4 col-md-offset-4">
    <h4>Atualizar Senha</h4>

    <div class="form-group">
      <label for="">Senha Atual:</label>
      <input type="text" class="form-control" id="" placeholder="Senha Atual">
      <p class="help-block">Informe a sua senha atual</p>
    </div>

    <div class="form-group">
      <label for="">Nova Senha:</label>
      <input type="text" class="form-control" id="" placeholder="Nova senha">
      <p class="help-block">Informe uma nova senha</p>
    </div>

    <div class="form-group">
      <label for="">Confirme a Nova Senha:</label>
      <input type="text" class="form-control" id="" placeholder="Confirme a nova senha">
      <p class="help-block">Confirme a nova senha digitada anteriormente</p>
    </div>

    <div class="form-group">
      <button id="button" class="btn btn-success">Alterar Senha</button>
    </div>
  </div>
</template>
